<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Aplikacja medyczna</title>
    <!--    <link rel="stylesheet" href="styl2.css"/>-->
</head>
<body>
<div style="width: 1440px; height: 3500px; position: relative; background: #F3F7FF; overflow: hidden">
    <div style="width: 1440px; height: 2277px; left: 0px; top: 679px; position: absolute; background: linear-gradient(180deg, #473472 0%, #D6F4ED 100%)"></div>
    <img style="width: 1440px; height: 679px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, rgba(135, 186, 195, 0.90) 0%, rgba(83, 98, 158, 0.70) 44%, rgba(71, 52, 114, 0.60) 100%)"
         src="https://placehold.co/1440x679"/>
    <div style="width: 1440px; height: 129px; left: 0px; top: 0px; position: absolute; background: #473472"></div>
    <div style="width: 967px; height: 69px; left: 225px; top: 83px; position: absolute; background: white; border-radius: 10px"></div>
    <div style="left: 207px; top: 379px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Ty zadbaj o przyjmowanie leków, a pamięć o nich zostaw nam.
    </div>
    <div style="width: 1440px; height: 548px; left: 0px; top: 2952px; position: absolute; background: #473472"></div>
    <div style="left: 173px; top: 3042px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 900; word-wrap: break-word">
        Zapisz się do naszego Newslettera
    </div>
    <div style="width: 404px; left: 173px; top: 3093px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Poznaj nowości w dziedzinie medycyny i dowiedz się, jak często aktualizujemy naszą bazę zamienników leków.
    </div>
    <div style="left: 173px; top: 3249px; position: absolute; color: white; font-size: 24px; font-family: Inter; font-weight: 900; word-wrap: break-word">
        LOGO
    </div>
    <div style="width: 211px; left: 173px; top: 3293px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Twoja ulubiona aplikacja wspomagająca kompleksowe dbanie o Twoje zdrowie. Wygodnie, szybko i bez stresu.
    </div>
    <div style="width: 489px; height: 50px; left: 720px; top: 3086px; position: absolute; background: #DEE9FF; border-radius: 50px"></div>
    <div style="left: 746px; top: 3098px; position: absolute; color: #7A7A7A; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        example@email.com
    </div>
    <div style="left: 720px; top: 3048px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Twój Email
    </div>
    <div style="width: 156px; height: 50px; left: 1053px; top: 3086px; position: absolute; background: #87BAC3; border-radius: 50px"></div>
    <div style="width: 20px; height: 20px; left: 1169px; top: 3101px; position: absolute; overflow: hidden">
        <div style="width: 9.17px; height: 9.17px; left: 9.17px; top: 1.67px; position: absolute; outline: 2px #473472 solid; outline-offset: -1px"></div>
        <div style="width: 16.67px; height: 16.67px; left: 1.67px; top: 1.67px; position: absolute; outline: 2px #473472 solid; outline-offset: -1px"></div>
    </div>
    <div style="left: 1072px; top: 3101px; position: absolute; color: #473472; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">
        Subskrybuj
    </div>
    <div style="left: 593px; top: 3253px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        O nas
    </div>
    <div style="left: 593px; top: 3299px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Kontakt
    </div>
    <div style="left: 593px; top: 3336px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Kim jestesmy
    </div>
    <div style="left: 593px; top: 3374px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Regulamin
    </div>
    <div style="left: 776px; top: 3253px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Usługi
    </div>
    <div style="left: 776px; top: 3299px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Współpraca
    </div>
    <div style="left: 776px; top: 3336px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Baza leków
    </div>
    <div style="left: 776px; top: 3373px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Zapytaj o lek
    </div>
    <div style="left: 1034px; top: 3253px; position: absolute; color: white; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Media Społecznościowe
    </div>
    <div style="left: 1034px; top: 3299px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Facebook
    </div>
    <div style="left: 1034px; top: 3336px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Twitter
    </div>
    <div style="left: 1034px; top: 3373px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Linkedin
    </div>
    <div style="width: 322px; left: 843px; top: 1424px; position: absolute; text-align: center; color: #D6F4ED; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">
        Zarządzaj swoim leczeniem
    </div>
    <div style="width: 379px; left: 879px; top: 1515px; position: absolute; color: #D6F4ED; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Monitoruj nadchodzące dawki
    </div>
    <div style="left: 878.80px; top: 1559.58px; position: absolute; color: #D6F4ED; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Aktywuj lub wyłącz przypomnienia
    </div>
    <div style="left: 878.80px; top: 1604.58px; position: absolute; color: #D6F4ED; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Otrzymuj powiadomienia e-mail
    </div>
    <div style="left: 879.80px; top: 1649px; position: absolute; color: #D6F4ED; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Przeglądaj szczegóły terapii
    </div>
    <div style="padding-left: 35px; padding-right: 35px; padding-top: 11px; padding-bottom: 11px; left: 834px; top: 1704px; position: absolute; overflow: hidden; border-radius: 50px; outline: 1px #D6F4ED solid; outline-offset: -1px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: #D6F4ED; font-size: 18px; font-family: Inter; font-weight: 500; word-wrap: break-word">
            Przejdź do harmonogramu
        </div>
        <div style="width: 24px; height: 24px; position: relative; overflow: hidden">
            <div style="width: 5px; height: 10px; left: 13px; top: 7px; position: absolute; outline: 2px #D6F4ED solid; outline-offset: -1px"></div>
            <div style="width: 5px; height: 10px; left: 6px; top: 7px; position: absolute; outline: 2px #D6F4ED solid; outline-offset: -1px"></div>
        </div>
    </div>
    <div style="width: 322px; left: 201px; top: 1971px; position: absolute; text-align: center; color: #473472; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">
        Zarządzaj swoim kontem
    </div>
    <div style="width: 379px; left: 258px; top: 2033px; position: absolute; color: #473472; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Uzupełnij dane medyczne
    </div>
    <div style="left: 257.80px; top: 2077.58px; position: absolute; color: #473472; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Dodaj informacje o swoich lekach
    </div>
    <div style="left: 257.80px; top: 2122.58px; position: absolute; color: #473472; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Powiąż profil z lekarzem
    </div>
    <div style="left: 258.80px; top: 2167px; position: absolute; color: #473472; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Aktywuj powiadomienia e-mail
    </div>
    <div style="padding-left: 35px; padding-right: 35px; padding-top: 11px; padding-bottom: 11px; left: 210px; top: 2222px; position: absolute; overflow: hidden; border-radius: 50px; outline: 1px #473472 solid; outline-offset: -1px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: #473472; font-size: 18px; font-family: Inter; font-weight: 500; word-wrap: break-word">
            Przejdź do ustawień profilu
        </div>
        <div style="width: 24px; height: 24px; position: relative; overflow: hidden">
            <div style="width: 5px; height: 10px; left: 13px; top: 7px; position: absolute; outline: 2px #473472 solid; outline-offset: -1px"></div>
            <div style="width: 5px; height: 10px; left: 6px; top: 7px; position: absolute; outline: 2px #473472 solid; outline-offset: -1px"></div>
        </div>
    </div>
    <div style="left: 643px; top: 720px; position: absolute; text-align: center; color: #D6F4ED; font-size: 36px; font-family: Inter; font-weight: 900; word-wrap: break-word">
        Benefity
    </div>
    <div style="width: 91px; height: 5px; left: 674px; top: 785px; position: absolute; background: #53629E; border-radius: 50px"></div>
    <div style="width: 42px; height: 5px; left: 723px; top: 785px; position: absolute; background: #87BAC3"></div>
    <div style="width: 488px; height: 48px; left: 198px; top: 496px; position: absolute; background: #DEE9FF; border-radius: 50px"></div>
    <div style="left: 252px; top: 510px; position: absolute; color: #7A7A7A; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        znajdź lek na ból istnienia
    </div>
    <div style="width: 24px; height: 24px; left: 212px; top: 508px; position: absolute; overflow: hidden">
        <div style="width: 17.49px; height: 17.49px; left: 3px; top: 3px; position: absolute; background: #7A7A7A"></div>
        <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute"></div>
    </div>
    <div style="width: 127px; height: 48px; left: 559px; top: 496px; position: absolute; background: #473472; border-radius: 50px"></div>
    <div style="left: 578px; top: 510px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">
        Szukaj leku
    </div>
    <div style="width: 195px; height: 70px; padding-left: 38px; padding-right: 38px; padding-top: 10px; padding-bottom: 10px; left: 1224px; top: 30px; position: absolute; background: #FFFB09; overflow: hidden; border-radius: 50px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: black; font-size: 40px; font-family: Helvetica Compressed; font-weight: 500; word-wrap: break-word">
            Zaloguj
        </div>
    </div>
    <div style="width: 115px; height: 41px; left: 38px; top: 16px; position: absolute"></div>
    <img style="width: 373px; height: 452px; left: 957px; top: 227px; position: absolute"
         src="https://placehold.co/373x452"/>
    <div style="width: 91px; height: 5px; left: 993px; top: 2504px; position: absolute; background: #53629E; border-radius: 50px"></div>
    <div style="width: 42px; height: 5px; left: 1042px; top: 2504px; position: absolute; background: #87BAC3"></div>
    <div style="left: 841px; top: 2445px; position: absolute; color: #473472; font-size: 36px; font-family: Inter; font-weight: 600; word-wrap: break-word">
        Co mówią nasi klienci?
    </div>
    <div style="width: 382px; left: 842px; top: 2544px; position: absolute; text-align: center; color: #53629E; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 32.40px; word-wrap: break-word">
        „System przypomnień pomógł mi regularnie przyjmować leki. W końcu nie pomijam dawek.”
    </div>
    <div style="width: 382px; left: 842px; top: 2713px; position: absolute; text-align: center; color: #53629E; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 32.40px; word-wrap: break-word">
        „Jako lekarz mogę ustawiać harmonogramy pacjentom - ogromne ułatwienie.”
    </div>
    <div style="width: 382px; left: 847px; top: 2631px; position: absolute; color: #473472; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 32.40px; word-wrap: break-word">
        - Anna K.
    </div>
    <div style="width: 382px; left: 847px; top: 2800px; position: absolute; color: #473472; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 32.40px; word-wrap: break-word">
        - Dr Marcin J.
    </div>
    <img style="width: 514px; height: 491px; left: 162px; top: 2393px; position: absolute"
         src="https://placehold.co/514x491"/>
    <div style="width: 322px; left: 211px; top: 906px; position: absolute; text-align: center; color: #D6F4ED; font-size: 24px; font-family: Inter; font-weight: 500; word-wrap: break-word">
        Twoje leki i przypomnienia w jednym miejscu
    </div>
    <div style="width: 379px; left: 247px; top: 997px; position: absolute; color: #D6F4ED; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Dodawaj leki wraz z dawkowaniem
    </div>
    <div style="left: 246.80px; top: 1041.58px; position: absolute; color: #D6F4ED; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Otrzymuj przypomnienia przed każdą dawką
    </div>
    <div style="left: 246.80px; top: 1086.58px; position: absolute; color: #D6F4ED; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Oznaczaj leki jako przyjęte i śledź historię
    </div>
    <div style="left: 247.80px; top: 1131px; position: absolute; color: #D6F4ED; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">
        Sprawdzaj tańsze zamienniki leków
    </div>
    <div style="padding-left: 35px; padding-right: 35px; padding-top: 11px; padding-bottom: 11px; left: 219px; top: 1186px; position: absolute; overflow: hidden; border-radius: 50px; outline: 1px #D6F4ED solid; outline-offset: -1px; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: #D6F4ED; font-size: 18px; font-family: Inter; font-weight: 500; word-wrap: break-word">Otwórz
            panel pacjenta
        </div>
        <div style="width: 24px; height: 24px; position: relative; overflow: hidden">
            <div style="width: 5px; height: 10px; left: 13px; top: 7px; position: absolute; outline: 2px #D6F4ED solid; outline-offset: -1px"></div>
            <div style="width: 5px; height: 10px; left: 6px; top: 7px; position: absolute; outline: 2px #D6F4ED solid; outline-offset: -1px"></div>
        </div>
    </div>
    <img style="width: 757px; height: 439px; left: 638px; top: 849px; position: absolute"
         src="https://placehold.co/757x439"/>
    <img style="width: 985px; height: 125px; left: 22px; top: 189px; position: absolute; opacity: 0.50"
         src="https://placehold.co/985x125"/>
    <div style="width: 639px; left: 126px; top: 227px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Automatycznie wspieraj zdrowie każdego dnia
    </div>
    <div style="left: 49px; top: 37px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 50px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Logo
    </div>
    <div style="width: 164px; height: 43px; left: 235px; top: 96px; position: absolute; background: #D6F4ED; border-radius: 10px"></div>
    <div style="left: 247px; top: 107px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #473472; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">
        Strona główna
    </div>
    <div style="left: 416px; top: 107px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #473472; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">
        Dla pacjenta
    </div>
    <div style="left: 871px; top: 107px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #473472; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">
        Dla lekarza
    </div>
    <div style="left: 1008px; top: 107px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #473472; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">
        Ustawienia konta
    </div>
    <div style="left: 564px; top: 107px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #473472; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">
        Przypomnienia
    </div>
    <div style="left: 737px; top: 107px; position: absolute; text-align: center; justify-content: center; display: flex; flex-direction: column; color: #473472; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">
        Zamienniki
    </div>
</div>
</body>
</html>