/* LOGIN PAGE */
.login-body {
    background: #fff;
    color: #111;
}

.login {
    min-height: 100svh;
    display: flex;
}

/* lewy panel */
.login-left {
    flex: 1;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 6vw 5.5vw;
    align-items: center;
    background: linear-gradient(90deg, rgba(71, 52, 114, 1) 0%, rgba(71, 52, 114, .80) 100%);
}

.login-left__inner {
    max-width: 620px;
    width: min(78%, 560px);
}

.login-logo {
    font-size: clamp(3.2rem, 5vw, 4.6rem);
    font-weight: 750;
    letter-spacing: .01em;
}

.login-title {
    margin: 0 0 2.2rem 0;
    line-height: 1.05;
    font-weight: 400;
    font-size: clamp(2.6rem, 4.4vw, 4.1rem);
}

.login-title span {
    display: inline;
    font-weight: 900;
    white-space: nowrap;
}

.login-desc {
    max-width: 520px;
    font-size: 1.05rem;
    line-height: 1.7;
    opacity: .95;
}

/* prawa strona */
.login-right {
    flex: 1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7vh 6vw;
    overflow: hidden;
}

.login-right__inner {
    width: min(520px, 92%);
    max-height: calc(100svh - 4rem);
    overflow-y: auto;
    padding-right: .5rem;
    padding-top: .5rem;
}

/* alerts */
.login-alert {
    background: rgba(255, 0, 0, .08);
    color: #8B1E3F;
    border: 1px solid rgba(139, 30, 63, .25);
    padding: .8rem 1rem;
    border-radius: .6rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.login-alert--ok {
    background: rgba(0, 180, 120, .08);
    color: #0b6b4a;
    border-color: rgba(11, 107, 74, .25);
}

/* fields */
.field {
    position: relative;
    margin: 1.2rem 0;
}

.field__label {
    position: absolute;
    left: 3.0rem;
    top: .55rem;
    background: #fff;
    padding: 0 .5rem;
    font-size: .85rem;
    color: #473472;
    font-weight: 500;
}

.field__input {
    width: 100%;
    padding: 2rem 1rem .9rem;
    border-radius: .35rem;
    border: 3px solid #473472;
    outline: none;
    font-size: 1rem;
    background: #fff;
    color: #111;
    padding-left: 3.3rem;
}

/* animowany slot */
.field::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 2.2rem;
    border-radius: .25rem 0 0 .25rem;
    pointer-events: none;
    background: #473472;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 220ms ease;
    z-index: 0;
}

.field:focus-within::before {
    transform: scaleX(1);
}

.field::after {
    content: "";
    position: absolute;
    left: 2.2rem;
    top: 2px;
    bottom: 2px;
    width: 3px;
    background: #473472;
    pointer-events: none;
}

.field__input::placeholder {
    color: #777;
}

/* remember / forgot */
.login-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: .6rem 0 3.4rem;
    color: #473472;
    font-size: .95rem;
    font-weight: 700;
}

.check {
    display: inline-flex;
    align-items: center;
    gap: .55rem;
    user-select: none;
    font-weight: inherit;
}

.check input {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2.5px solid #473472;
    border-radius: 4px;
    background: #fff;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.check input:checked {
    background: #473472;
}

.check input:checked::after {
    content: "";
    width: 10px;
    height: 4.5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    margin-top: -3.5px;
}

.login-link {
    /*color: #473472;*/
    font-weight: 700;

    color: #ffffff;
    cursor: default;
}

/* actions */
.login-actions {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.login-btn {
    min-width: 170px;
    padding: .65rem 1.3rem;
    border-radius: .25rem;
    font-weight: 900;
    font-size: 1.05rem;
    text-align: center;
    border: 3px solid #473472;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.login-btn--primary {
    background: #473472;
    color: #fff;
}

.login-btn--outline {
    background: #fff;
    color: #473472;
}