@import url("./base.css");
@import url("./components.css");
@import url("./navigation.css");

@import url("./home.css");
@import url("./login.css");
@import url("./register.css");
@import url("./profile.css");
@import url("./medications.css");

@import url("./responsive.css");